* {
    box-sizing: border-box;
    background-color: #fff;
}

body {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}
header{
    background-color: #5f5f5f;
}
.logo{
    background-color: #5f5f5f;
    height: 65px;
    font-size: 30px;
    line-height: 65px;
    color:#fff;
    text-align: center;
}

h1 {
    text-align: center;
}

#id_suche {
    float: left;
    margin-top: 5px;
    margin-left: 10px;
    padding: 10px 0px 10px 10px;
    width: 20%;
}
#id_create_flightplan{
    background-color: white;
    color: black;
    border: 2px solid #555555;
    box-shadow: 3px 5px 6px #ccc;
    padding: 12px 32px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 4px;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    cursor: pointer;

}
#id_create_flightplan:hover{
    background-color: #555555;
    color: white;
}

#id_headline {

}

#id_route_input {
    width: 180px;
    padding: 12px 20px 12px 40px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    background-image: url('../img/search.png');
    background-size: 22px;
    background-position: 10px 11px;
    background-repeat: no-repeat;
    -webkit-transition: width 0.4s ease-in-out;
    -moz-transition: width 0.4s ease-in-out; /* Firefox 4 */
    transition: width 0.4s ease-in-out;
}

#id_route_input:focus {
    width: 100%;
    border: 2px solid #555;

}


#id_flugplan {
    float: left;
    width: 79%;
    background-color: #ffffff;
    margin-top: 1%;
    padding: 0 20px 20px;
}

#id_form_plan {
    border-style: solid;
    border-radius: 10px;
    background-color: #f5f5f5;
}

#id_flugplan input[type=text] {
    border: 2px solid #ccc;
    margin-right: 10px;
    border-radius: 4px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

#id_flugplan input[type=text]:focus {
    border: 2px solid #555;
}

#id_flugplan textarea {
    width: 30%;
    transition: height 0.4s;
    height: 23px;
}

#id_flugplan textarea:focus {
    height: 150px;
}

#id_form_plan fieldset {
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid #666;
    border-radius: 8px;
    background-color: #fff;
}

#id_fieldset_beforeflight_legend {

}

/* Departure Airport section */
#id_dep_apt_head {
    background-color: #9c9c9c;
    color: white;
    padding: 0.5%;
}

/*Erste Planzeile:*/
#id_calllsign {
    width: 5%;
}

/*zweite Planzeile: */
#id_stand {
    width: 5%;
}

#id_act_rwys {
    width: 6%;
}

#id_ta {
    width: 5%;
}

#id_cruise_fl {
    width: 5%;
}

#id_atis_info_dep {
    width: 5%;
}

#id_qnh_dep {
    width: 5%;
}

#id_temp_dep {
    width: 5%;
}

#id_enroute_time {
    width: 5%;
}

#id_pax {
    width: 5%;
}

#id_cargo {
    width: 7%;
}


#id_input_date {

}